    <head>
    <title>fdzz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
    <title>WEB1 - login</title>
    <meta charset="utf-8">
    <script src="../node7.js"></script>
    </head>
    <body>
        <button><a href="/signup">회원가입하기</a></button>
        <button><a href="/find">비번찾기</a><button>
        <button><a href="/login">로그인</a><button>
            
    </body>
</html>                                                                                                                                                                                                                                                                                                                      ㅁㅋㄴ                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                `                                                                   <html>
  