<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/find" method="patch">
        <input name="user_id" type="text" placeholder="이메일" /><br />
        <input name="user_pwd" type="password" placeholder="바꿀 비밀번호"/><br />
        <input name="two_pwd" type="password" placeholder="한번 더 입력"><br>
        <input value="비밀번호 바꾸기" type="submit" >
    </form>
</body>
</html>